body {
  margin: 0px;
  font-family: "Open Sans", sans-serif;
}

#page-banner {
  margin: 0px;
  height: 670px;
}

#header {
  margin: 0px;
  height: 100%;
}

#header-image {
  width: 35%;
  height: 100%;
  float: left;
}

#header-image img {
  width: 100%;
  height: 100%;
}

#header-content {
  width: 65%;
  height: 100%;
  background-color: #eba3d4;
  float: right;
}

#nav-bar {
  position: absolute;
  right: 0;
  margin: 20px 30px;
}

* {
  margin: 0px;
  border: 0px;
  font: inherit;
  vertical-align: top;
  box-sizing: border-box;
}

#nav-bar ul {
  width: 30vw;
  display: flex;
  justify-content: space-around;
}

#nav-bar li {
  list-style: none;
}

#nav-bar a {
  font-size: 16px;
  color: #2b3337;
  text-decoration: none;
}

#header-info {
  text-align: center;
  width: 50%;
  color: #2b3337;
  float: left;
  margin: 30% 20px 10% 20px;
}

#header-info h2 {
  font-size: 40px;
  margin-bottom: 20px;
}

#header-info p {
  margin-bottom: 20px;
  font-size: 20px;
}

#submit {
  font-size: 18px;
  padding: 0px 20px;
  height: 50px;
  border: 2px solid slateblue;
  background-color: #000000;
  color: steelblue;
}

#price {
  padding-top: 0.84rem;
  padding-bottom: 1.2rem;
  background-color: #b5e7a0;
}

#price-info {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  min-width: 300px;
}
h1 {
  font-size: 60px;
  line-height: 1.2;
  color: #000;
}

#pricing {
  margin-top: 50px;
  font-size: 20px;
  height: 300px;
  padding: 25px 8px;
  text-align: center;
}

.level {
  font-size: 20px;
  color: #000;
  width: 100%;
  padding: 15px 0;
}

#group {
  float: left;
  width: 30%;
  padding: 15px;
}
#pricing h3 {
  margin-top: 15px;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
}

#gallery {
  background-color: slateblue;
  height: 500px;
  padding-top: 0.8rem;
}

.gallery-info {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  min-width: 300px;
}

#gallery .info h4 {
  padding-top: 20px;
  font-size: 50px;
  margin: 30px 150px;
}

#gallery-row {
  height: 600px;
  width: 60%;
  align-content: center;
  margin: 10% 20%;
  margin-top: 3px;
}

#image {
  width: 250px;
  height: 250px;
  display: flex;
  float: left;
  margin: 0;
}

#image img {
  width: inherit;
  height: inherit;
}

#testinomials {
  background-color: rgb(123, 119, 148);
  height: 710px;
  color: #000;
}

#testinomials-info {
  margin-right: auto;
  margin-left: auto;
  padding-left: 270px;
  padding-right: 35px;
  float: left;
}

h3 {
  font-size: 60px;
  line-height: 1.3;
}

.arrow {
  position: initial;
}

.grid1 {
  width: 25%;
  float: left;
}

.grid2 {
  width: 55%;
  float: left;
}

.grid-image p {
  margin-top: 20px;
  font-weight: 400;
}

h4 {
  margin-top: 31px;
  font-weight: 700;
  display: block;
}

#social {
  display: flex;
  justify-content: center;
  height: 500px;
  width: 100%;
  background-color: pink;
}

#video {
  margin: 100px;
  background-color: pink;
}

#footer {
  padding-top: 0.8rem;
  padding-bottom: 1.18rem;
  background: lightblue;
}

#footer-info {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  min-width: 750px;
  margin: 0px 76px;
  flex-basis: 33%;
}

.info {
  margin-top: 52px;
  display: flex;
}
.footer-box {
  padding: 0px 15px;
}
h4 {
  font-size: 24px;
  line-height: 2;
  font-weight: 500;
}

h4 + address {
  margin-top: 20px;
}

#footer p {
  margin-top: 90px;
}
